@model IEnumerable<Ictshop.Models.Sanpham>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kết quả tìm kiếm cho '@Request.QueryString["searchTerm"]'</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
        <tr class="card">
            <a href="@Url.Action("Detail", "Product", new { id = item.Masp })" class="card-link">
                <div class="card-body">
            <td>@item.Tensp</td>
            <td>@String.Format("{0:0,0}", item.Giatien) VND</td>
            </div>
            <a href="@Url.Action("XemChiTiet", "Sanpham", new { masp = item.Masp })">Xem chi tiết</a>
           
        </tr>
                
            }
        }
        else
        {
            <tr>
                <td colspan="3">Không tìm thấy sản phẩm.</td>
            </tr>
        }
    </tbody>
</table>
