
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ForgotPassword</h2>
<br />
<h3 class="text-danger">@ViewBag.Error</h3>
<h3 class="text-success">@ViewBag.Message</h3>

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{ }
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("email", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gửi liên kết khôi phục" class="btn btn-primary" />
            </div>
        </div>
    </div>
}